body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
  width: 80%;
  background-color: #ccc;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 10px;
  z-index: 999;
  button {
    color: white;
    border-radius: 5px;
    border: 1px solid #333;
  }
}

.task-card:hover {
  cursor: grab;
}
